body{
	margin:0px;
	border-top: 5px solid #333;
	background: ;
}
::selection {
    color: #ccc; 
    background: #333;
}
#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}
/*---------FONTS--------------*/
@font-face{
	font-family:regular;
	src:url('../fonts/regular.ttf');
	src:url('../fonts/regular.eot');
	src:url('../fonts/regular.svg');
	src:url('../fonts/regular.woff');
	src:url('../fonts/regular.otf');
}

@font-face{
	font-family:novab;
	src:url('../fonts/novab.ttf');
	src:url('../fonts/novab.eot');
	src:url('../fonts/novab.svg');
	src:url('../fonts/novab.woff');

}

@font-face{
	font-family:novar;
	src:url('../fonts/novar.ttf');
	src:url('../fonts/novar.eot');
	src:url('../fonts/novar.svg');
	src:url('../fonts/novar.woff');
	src:url('../fonts/novar.otf');
}
@font-face{
	font-family:noval;
	src:url('../fonts/noval.ttf');
	src:url('../fonts/noval.eot');
	src:url('../fonts/noval.svg');
	src:url('../fonts/noval.woff');
	src:url('../fonts/noval.otf');
}

@font-face{
	font-family:curve;
	src:url('../fonts/curve.ttf');
	src:url('../fonts/curve.eot');
	src:url('../fonts/curve.svg');
	src:url('../fonts/curve.woff');
	src:url('../fonts/curve.otf');
}
/*---------COLOR----------*/
.pink{color: #09c}
/*--------Classes---------*/

.bgblack{background: #000;}
.bgwhite{background: #fff;}
.cw{color:#fff;}
.fl{float: left;}
.fr{float: right;}
.alr{text-align: right}
.all{text-align: left;}
.active{color:#fff;}
.logo{
	height: 80px;
	width: 80px;
	background:url('../images/logo.png') no-repeat;#555;
	display: inline-block;
	margin:20px;
	background-size: 80px auto;
	transition:background .5s;
}

.logo:hover{
	background:url('../images/logoh.png') no-repeat;
	background-size: 80px auto;
}
.img1{background:url('../images/trans.png'),url('../images/4.jpg') no-repeat #000;}
.img2{background:url('../images/trans.png'),url('../images/2.jpg') no-repeat #000;}
.img3{background:url('../images/trans.png'),url('../images/3.jpg') no-repeat #000;}
/*--------Tags---------*/
li>a{
	text-decoration: none;
	color: #ccc;
	text-transform: uppercase;
	transition:color .5s;
}
a{text-decoration: none; color: #000;}
li>a:hover{
	color:#fff;
}

/*----------header----------*/
#header{
	height:auto;
	width:100%;
	background-size: 100%;
}

#menu{
	float: right;
	height:auto;
	margin:0px 80px 0px auto;
}

ul>li{
	margin: 0px 4px;
	height:30px;
	width:50px;
	display: inline-block;
	text-align: center;
	color:#ccc;
	font-family: noval;
	font-size: 15px;
}

/*---------container--------*/
.cont{
	min-height: 200px;
	border-bottom: 2px solid #ddd;
	text-align: center;
	background: #fff;
}
.conth{
	min-height: 200px;
	text-align: center;
}


/*--------home------*/
#home{
	min-height: 100px;
	width: 100%;
	padding: 20px 0px 100px 0px;
	display:inline-block;
	margin: auto;
}

#home>h1{
	font-size: 65px;
	font-family:regular;
	color:#fff;
	text-align: center;
}

#home>p{
	margin-top: -20px;
	font-size: 23px;
	font-family: curve;
	color:#fff;
	text-align: center;
}

.button{
	width: 110px;
	margin:20px 5px;
	text-align: center;
	padding: 13px;
	display: inline-block;
	text-transform: uppercase;
	transition: background .3s;
	-webkit-transition: background .3s;
}
.buttonb{
	border: 2px solid #fff;
	font-family: noval;
	color:#fff;
}

.buttonb:hover{
	color: #000;
	background:#fff;
}

.buttonw{
	border: 2px solid #000;
	font-family: regular;
	font-size: 13px;
	color:#000;
}

.buttonw:hover{
	color: #eee;
	background:#222;
	font-family: regular;
	border: 2px solid #222;
}
/*---------about---------*/

#about,>h3{
	font-family: curve;
	font-size: 25px;
	padding-top: 60px;
	color: #555;
}

#brief{
	width:530px;
	margin:40px auto 60px auto;
}

#brief>p{
	font-family: noval;
	font-size: 18px;
	color:#777;
	line-height: 25px;
}

.cont>h3{
	font-family: curve;
	font-size: 25px;
	padding-top: 20px;
	color: #555;
}

#pics{
	margin:50px 80px;
}
#pics>img{
	width: 150px;
	height: 150px;
	background: #555;
	display: inline-block;
	margin:2px;
}
/*------------Work------*/

/*------------conatct------*/

/*---------footer-------*/
#footer{
	height: 200px;
	border-top: 1px solid #333;
	background: #444;
}

#social{
	height:70px;
	width: 100%;
	text-align: center;
}

.social{
	height:50px;
	width: 50px;
	display: inline-block;
	margin: 10px auto;
}

#fb{background: url('../images/social/fb.png') no-repeat center; background-size: 60px;}
#tw{background: url('../images/social/tw.png') no-repeat center; background-size: 60px;}
#in{background: url('../images/social/in.png') no-repeat center; background-size: 60px;}
#insta{background: url('../images/social/insta.png') no-repeat center; background-size: 60px;}
#gp{background: url('../images/social/gp.png') no-repeat center; background-size: 60px;}
#pi{background: url('../images/social/pi.png') no-repeat center; background-size: 60px;}
#yt{background: url('../images/social/yt.png') no-repeat center; background-size: 60px;}
#fb:hover{background: url('../images/social/fbh.png') no-repeat center; background-size: 60px;}
#tw:hover{background: url('../images/social/twh.png') no-repeat center; background-size: 60px;}
#in:hover{background: url('../images/social/inh.png') no-repeat center; background-size: 60px;}
#insta:hover{background: url('../images/social/instah.png') no-repeat center; background-size: 60px;}
#gp:hover{background: url('../images/social/gph.png') no-repeat center; background-size: 60px;}
#pi:hover{background: url('../images/social/pih.png') no-repeat center; background-size: 60px;}
#yt:hover{background: url('../images/social/yth.png') no-repeat center; background-size: 60px;}












#infooter{
	height:150px;
	width: 100%;
	background: #111111;
	text-align: center;
	display:inline-block;
}

#infooter>ul>li{
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 18px;
	color: #000;
	padding:10px;
}
#infooter>ul{
	margin-left: -40px;
	border-bottom: 1px solid #333;
}

#infooter>h2{
	font-size: 17px;
	font-family: noval;
	color:#fff;
	font-weight: lighter;
}

h2>a{color:#fff;}
h2>a:hover{color:#aaa;}