body{
	margin:0px;
	border-top: 5px solid #333;
}
::selection {
    color: #ccc; 
    background: #333;
}
/*---------FONTS--------------*/
@font-face{
	font-family:regular;
	src:url('../fonts/regular.ttf');
	src:url('../fonts/regular.eot');
	src:url('../fonts/regular.svg');
	src:url('../fonts/regular.woff');
	src:url('../fonts/regular.otf');
}

@font-face{
	font-family:novab;
	src:url('../fonts/novab.ttf');
	src:url('../fonts/novab.eot');
	src:url('../fonts/novab.svg');
	src:url('../fonts/novab.woff');

}

@font-face{
	font-family:novar;
	src:url('../fonts/novar.ttf');
	src:url('../fonts/novar.eot');
	src:url('../fonts/novar.svg');
	src:url('../fonts/novar.woff');
	src:url('../fonts/novar.otf');
}
@font-face{
	font-family:noval;
	src:url('../fonts/noval.ttf');
	src:url('../fonts/noval.eot');
	src:url('../fonts/noval.svg');
	src:url('../fonts/noval.woff');
	src:url('../fonts/noval.otf');
}

@font-face{
	font-family:curve;
	src:url('../fonts/curve.ttf');
	src:url('../fonts/curve.eot');
	src:url('../fonts/curve.svg');
	src:url('../fonts/curve.woff');
	src:url('../fonts/curve.otf');
}
/*---------COLOR----------*/
.pink{color: #09c}
/*--------Classes---------*/

.bgblack{background: #000;}
.bgwhite{background: #fff;}
.cw{color:#fff;}
.fl{float: left;}
.fr{float: right;}
.alr{text-align: right}
.all{text-align: left;}
/*--------Tags---------*/
li>a{
	text-decoration: none;
	color: #ccc;
	text-transform: uppercase;
	transition:color .5s;
}
a{text-decoration: none; color: #000;}
li>a:hover{
	color:#fff;
}
h2>a:hover{
	color:#ccc;
}


/*----------header----------*/
#header{
	height:auto;
	width:100%;
	background:url('../images/trans.png'),url('../images/1.jpg') no-repeat top #000;
	background-size:100%;
}

#menu{
	float: right;
	height:auto;
	margin:0px 50px 0px auto;
}

ul>li{
	margin: 0px 0px;
	height:30px;
	width:50px;
	display: inline-block;
	text-align: center;
	color:#ccc;
	font-family: noval;
	font-size: 15px;
}


/*.social{
	height: 50px;
	width:50px;
	background: #fff;
	margin:95px 5px;
	float: right;
}

#fb{
	background: url('../images/fb.png') no-repeat center;
	background-size: 50px auto;
}
#tw{
	background: url('../images/tw.png') no-repeat center;
	background-size: 50px auto;
}

#fb:hover{
	background: url('../images/fbh.png') no-repeat center;
	background-size: 50px auto;
}
#tw:hover{
	background: url('../images/twh.png') no-repeat center;
	background-size: 50px auto;
}
#li{
	background: url('../images/li.png') no-repeat center;
	background-size: 50px auto;
}

#li:hover{
	background: url('../images/lih.png') no-repeat center;
	background-size: 50px auto;
}
*/


/*---------container--------*/
.cont{
	min-height: 200px;
	border-bottom: 2px solid #333;
	text-align: center;
}

/*--------home------*/
#home{
	min-height: 100px;
	width: 100%;
	padding: 100px 0px;
	display:inline-block;
	margin: auto;
}

h1,p{
	color:#fff;
	text-align: center;
}

h1{
	font-size: 65px;
	font-family:regular;
}

p{
	margin-top: -20px;
	font-size: 23px;
	font-family: curve;
}


.button{
	width: 100px;
	margin:20px 5px;
	border: 2px solid #fff;
	text-align: center;
	padding: 13px;
	font-family: noval;
	display: inline-block;
	color:#fff;
	text-transform: uppercase;
	transition: background .3s;
	-webkit-transition: background .3s;
}

.button:hover{
	color: #000;
	background:#fff;
}
/*---------about---------*/

/*------------Work------*/

/*------------conatct------*/

/*---------footer-------*/
h2{
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color:#fff;
}

#footer{
	border-top: 1px solid #333;
	background: #000;
	margin-bottom: -15px;
	padding-bottom: 5px;
}

h2>a{color:#fff;}