body{
	margin:0px;
	border-top: 5px solid #cc0387;
}
/*---------FONTS--------------*/
@font-face{
	font-family:bold;
	src:url('../fonts/bold.ttf');
	src:url('../fonts/bold.eot');
	src:url('../fonts/bold.svg');
	src:url('../fonts/bold.woff');
	src:url('../fonts/bold.otf');
}

@font-face{
	font-family:light;
	src:url('../fonts/light.ttf');
	src:url('../fonts/light.eot');
	src:url('../fonts/light.svg');
	src:url('../fonts/light.woff');

}

@font-face{
	font-family:fina;
	src:url('../fonts/fina.ttf');
	src:url('../fonts/fina.eot');
	src:url('../fonts/fina.svg');
	src:url('../fonts/fina.woff');
	src:url('../fonts/fina.otf');
}
@font-face{
	font-family:reg;
	src:url('../fonts/reg.ttf');
	src:url('../fonts/reg.eot');
	src:url('../fonts/reg.svg');
	src:url('../fonts/reg.woff');
	src:url('../fonts/erg.otf');
}

@font-face{
	font-family:curve;
	src:url('../fonts/curve.ttf');
	src:url('../fonts/curve.eot');
	src:url('../fonts/curve.svg');
	src:url('../fonts/curve.woff');
	src:url('../fonts/curve.otf');
}
/*---------COLOR----------*/
.pink{color: #cc0387}
/*--------Classes---------*/

.bgblack{background: #000;}
.bgwhite{background: #fff;}
.cw{color:#fff;}
.fl{float: left;}
.fr{float: right;}
.alr{text-align: right}
.all{text-align: left;}
/*--------Tags---------*/
li>a{
	text-decoration: none;
	color: #fff;
}
a{text-decoration: none; color: #000;}
li>a:hover{
	color:#cc0387;
}
h2>a:hover{
	color:#cc0387;
}


/*----------header----------*/
#header{
	height:150px;
	width:100%;
	background:url('../images/menu.jpg') no-repeat center #000;
	background-size: 100%;
	margin-top:-16px;
	border-bottom: 1px solid #cc0387;
}

#menu{
	height:auto;
	max-width:800px;
	margin:auto;
}

ul>li{
	margin-top:125px;
	height:30px;
	width:50px;
	//border:1px solid;
	display: inline-block;
	text-align: center;
	color:white;
	font-family: light;
	font-size: 18px;
}


.social{
	height: 50px;
	width:50px;
	background: #fff;
	margin:95px 5px;
	float: right;
}

#fb{
	background: url('../images/fb.png') no-repeat center;
	background-size: 50px auto;
}
#tw{
	background: url('../images/tw.png') no-repeat center;
	background-size: 50px auto;
}

#fb:hover{
	background: url('../images/fbh.png') no-repeat center;
	background-size: 50px auto;
}
#tw:hover{
	background: url('../images/twh.png') no-repeat center;
	background-size: 50px auto;
}
#li{
	background: url('../images/li.png') no-repeat center;
	background-size: 50px auto;
}

#li:hover{
	background: url('../images/lih.png') no-repeat center;
	background-size: 50px auto;
}



/*---------container--------*/
.cont{
	min-height: 300px;
	border-bottom: 2px solid #cc0387;
	background: #ccc;
	text-align: center;
}

/*--------home------*/
#home{
	background: #fff;
}

h1,p{
	color:#cc0387;
	text-align: center;
}

h1{
	padding-top: 90px;
	font-size: 50px;
	font-family:curve;
}

p{
	font-size: 20px;
	font-family: bold;
}


.button{
	width: 100px;
	margin:20px auto;
	border: 2px solid #000;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	font-family: light;
	display: inline-block;
}

.button:hover{
	border: 2px solid #cc0387;
	color: #cc0387
}
/*---------about---------*/

#twt{
	margin:50px auto;
	font-family: bold;
}
#feed{
	min-height:350px;
	text-align: center;
	color:#cc0387;
	font-size: 20px;
	background: #eee;
	font-family: light;
}

#follow{
	height:30px;
	width: 100px;
	margin:0px auto;
}


/*------------Work------*/

#work{
	background: #ddd;
}

/*------------conatct------*/
#conta{
	background: #ccc;
}
/*---------footer-------*/
h2{
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color:#fff;
}

#footer{
	border-top: 1px solid #cc0387;
	background: #000;
	margin-bottom: -15px;
	padding-bottom: 5px;
}

h2>a{color:#fff;}