body{
	margin:0px;
	background:#fff;
	text-align: center;
}


/*---------------FONT-FACE--------------------*/


@font-face {
    font-family: 'OverlockItalic';
    src: url('../fonts/overlockIT.eot');
    src: url('../fonts/overlockIT.eot?#iefix') format('embedded-opentype'),
         url('../fonts/overlockIT.woff') format('woff'),
         url('../fonts/overlockIT.ttf') format('truetype'),
         url('../fonts/overlockIT.svg#OverlockItalic') format('svg');

}

@font-face {
    font-family: 'lob';
    src: url('../fonts/lob.eot');
    src: url('../fonts/lob.ttf') format('truetype');
}

@font-face {
    font-family: 'SeasideResortNFRegular';
    src: url('../fonts/seasrn.eot');
    src: url('../fonts/seasrn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/seasrn.woff') format('woff'),
         url('../fonts/seasrn.ttf') format('truetype'),
         url('../fonts/seasrn.svg#SeasideResortNFRegular') format('svg');

}


/*---------------TAGS------------*/

.fl{float: left;}
.fr{float: right;}
.all{text-align: left;}
.alr{text-align: right;}
.alc{text-align: center;}
.w500{width: auto;}
a{text-decoration: none;}
.blue{color:#0080db;}
.orange{color: #fc2000}
.green{color: #015700}
#header>#menu>a>.active{color:#555;}
#footer>#menu>a>.active{
	color:#000;
	background: #fff;
	font-weight:bold;
}
.lob{font-family: lob}
.size25{font-size: 25px;}
.mlr20{margin: auto 20px;}


/*----------HEADER----------*/

#header{
	width: 100%;
	min-height:80px;
	background: #fff;
	position: fixed;
	border-bottom: 3px solid black;
}

#logo{
	display: inline-block;
	height:80px;
	width: 250px;
	background:url('../images/logo.svg') no-repeat center center;
	background-size: 150px auto;
	margin-left: 20px;
	float: left;
}

#logo:hover{
	background:url('../images/logo2.svg') no-repeat center center;
	background-size: 150px auto;
}


#header>#menu{
	padding-top:10px;
	float: right;
	margin-right: 20px;
	font-family: OverlockItalic;
}


#header>#menu>a>li{
	display: inline-block;
	color:#aaa;
	padding: 10px;
	text-align: center;
	margin: auto;
}

#header>#menu>a>li:hover{
	color:#555;
}

/*---------------CONT----------*/

#intro{
	height: auto;
	padding-bottom: 50px;
	clear: both;
	border-bottom: 2px solid #eee
}

#intro>h1{
	padding-top: 100px;
	font-size: 40px;
	font-family: SeasideResortNFRegular;
	color: #0080db
}

#intro>p{
	font-family: OverlockItalic;
	font-size: 25px;
	color:#fc2000;
}

#intro>#menu{
	margin: auto;
	clear: both;
	padding-top: 20px;
	margin-left: -39px;
	font-family: OverlockItalic;
}

#intro>#menu>a>li{
	display: inline-block;
	color:#fc2000;
	padding: 10px;
	text-align: center;
	margin: auto;
	font-size: 18px;
}

#intro>#menu>a>li:hover{
	color:#0080db;
	text-decoration: underline;
}

#dcback{
	height:500px;
	background:url('../images/dcback2.png') no-repeat center;
	background-size:auto 500px ;
	overflow: hidden
}

.info{
	min-height: 300px;
	max-width:800px;
	margin:10px auto;
}

.info>p{
	clear: both;
	margin: 20px 10px;
	max-width: 500px;
	font-family: OverlockItalic;
	font-size: 1.375em;
	font-weight: lighter;
}

.info>h2{
	clear: both;
	margin: 20px 10px;
	max-width: 500px;
	font-family: lob;
	color: #fc2000;
	font-size:2.5em;
	text-align: left;
}


.info>p>a{color: #0080db}
.info>p>a:hover{color: #fc2000;text-decoration: underline;}



#design{background: url('../images/ard.png') no-repeat right center;}
#dev{background: url('../images/ald.png') no-repeat left center;}
#host{background: url('../images/ard.png') no-repeat right center;}



/*--------------SERVICES--------------*/

.service{
	min-height: 100px;
	max-width: 800px;
	margin:auto;
	text-align: left;
	border-bottom: 1px solid #aaa;
}

.service>h2{
	clear: both;
	margin: 20px 10px;
	font-family: lob;
	color: #0080db;
	font-size:2.5em;
}

.service>h3{
	margin: 25px 40px;
	font-family: OverlockItalic;
	color: #fc2000;
	font-size:1.875em;
	text-decoration: underline;
}

.service>p{
	clear: both;
	margin: 30px 40px;
	font-family: OverlockItalic;
	font-size: 1.375em;
}


#sdesign{background: url('../images/1.png') no-repeat right top;}
#sdev{background: url('../images/2.png') no-repeat right top;}
#shost{background: url('../images/3.png') no-repeat right top;}
#sother{background: url('../images/oth.png') no-repeat right top;}




/*-----------------Team-----------------*/

.team{
	min-height: 300px;
	max-width: 800px;
	background: #fff;
	border-bottom:1px solid #ddd;
	margin: 40px auto;
}


.cover{
	width: 100%;
	height: 250px;
	background:#fff;
}

.dp{
	width: 200px;
	height: 200px;
	margin: -120px 20px 20px 20px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px #000
}

.team>h3{
	font-size: 2.5em;
	font-family: OverlockItalic;
	text-align: left;
	margin: -100px 0px 0px 250px;
	color: #0080db;
}

.team>h4{
	font-size: 1.375em;
	font-family: OverlockItalic;
	text-align: left;
	color: #fc2000;
	margin: 0px 0px 0px 250px
}

.team>p{
	font-size: 1.1em;
	font-family: OverlockItalic;
	text-align: left;
	margin: 60px 20px 40px 40px;
}




#vc{background: url('../images/team/vc.jpg') no-repeat center -180px; background-size:auto 550px;}
#vdp{background: url('../images/team/vdp.jpg') no-repeat center ; background-size:auto 200px;}
#pcc{background: url('../images/team/pcc.jpg') no-repeat center top -80px; background-size:auto 500px;}
#pcdp{background: url('../images/team/pcdp.jpg') no-repeat center ; background-size:auto 200px;}
#sc{background: url('../images/team/sc.jpg') no-repeat  center; background-size:auto 600px;}
#sdp{background: url('../images/team/sdp.jpg') no-repeat center ; background-size:auto 200px;}
#pc{background: url('../images/team/pc.jpg') no-repeat center -160px; background-size:auto 800px;}
#pdp{background: url('../images/team/pdp.jpg') no-repeat center ; background-size:auto 200px;}


/*---------------------------CONTACT------------------------*/


#continfo{
	max-width: 800px;
	margin:0px auto 50px auto;
	border-bottom: 1px solid #ddd;
	padding-bottom: 50px;
	background: url('../images/logotc.svg') no-repeat right top;
}

 
#continfo>h3{
	font-family: lob;
	color:#fc2000;
	font-size: 25px;
	padding-left: 10px
	
}
#continfo>p{
	max-width: 300px;
	font-family: OverlockItalic;
	font-size: 20px;
	line-height: 30px;
	padding-left: 50px;
	color: #555
}

#continfo>p>a{
	color: #0080db;
}

#continfo>p>a:hover{
	text-decoration: underline;
	color: #fc2000;
	cursor: pointer;
}

#cform{
	width: 588px;
	height: 550px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
}

#form{
	max-width: 600px;
	height: auto;
	margin: auto;
}

#cont>h3{
	font-size: 25px;
}

.button{
	font-family:OverlockItalic;
	font-size: 25px;
	font-weight: bold;
	height:20px;
	margin:10px auto;
	text-align: center;
	padding:12px 10px;
	color: #0080db;
	border: none;
}

/*-------------FORM-----------*/

input{
	padding: 20px;
	font-family: OverlockItalic;
	font-weight: bold;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #0080db;
}


input:focus{
	border-bottom: 2px solid #0080db;
	outline:none;
}
textarea{
	padding: 10px;
	font-family: OverlockItalic;
	border: 0px solid #fff;
	border-bottom: 1px solid #ccc;
	color: #0080db;
	font-weight: bold;
	font-size: 15px;
}

textarea:focus{
	border-bottom: 2px solid #0080db;
	outline:none;
}


#firstname{
	margin: 80px 0px 0px 40px;
	height: 20px;
	width:244px;
	float: left
}

#lastname{
	width: 244px;
	height: 20px;
	margin: 80px 10px 0px 0px;
}

#email{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}

#subject{
	width: 521px;
	height: 18px;
	margin: 40px 0px 0px 3px;
}


#msg{
	width: 521px;
	height: 80px;
	margin: 40px 0px 0px 3px;
	resize:none;
}

#send{
	margin:50px 30px;
	height: 50px;
	background: #fff;
	cursor:pointer;
}

#send:hover{
	color: #fc2000;
	text-decoration: underline;
}


/*----------------FOOTER--------------*/

#footer{
	min-height: 100px;
	background: #333;
	margin-bottom: -20px;
	border-top:2px solid #aaa;
}



#footer>#menu{
	padding:20px;
	margin-right: 20px;
	margin:auto;
	font-family: OverlockItalic;
}


#footer>#menu>a>li{
	display: inline-block;
	color:#eee;
	padding: 10px;
	max-width: 100px;
}

#footer>#menu>a>li:hover{
	color:#000;
	background: #fff;
	font-weight:bold;
}

#footer>p{
	font-family: overlockItalic;
	font-size: 16px;
	padding: 10px;
	color:#eee;

}


/*----------MEDIA QUERIES-----------*/


@media screen and (max-width: 700px){
	#header{
		position: relative;
	}
	#header>#menu{
		padding:20px 0px 20px 0px;
		margin:auto;
		float: none;
	}

	#logo{
		margin:auto;
		float: none;
	}

	#intro{padding-top: 0px ;}
	#intro>h1{padding: 20px 5px 0px 5px; font-size: 30px; }
	#intro>p{padding: 0px 5px 0px 5px; font-size: 20px; }
	#design{background:none;}
	#dev{background: none;}
	#host{background: none;}
	#sdesign{background: none}
	#sdev{background: none}
	#shost{background: none}
	#sother{background: none}
	#continfo{background: none;}

	.info>p{font-size: 18px;}
	.info>h2{font-size: 23px;}
	.service>p{font-size: 18px;}
	.service>h3{font-size: 22px}
	.service>h2{font-size: 25px;}

	#me{
		display:none;
	}

	#cform{
		width: 100%;
	}
	/*-------------FORM-----------*/
	#firstname{
		width:90%;
		float: none;
		margin: 30px 0px 0px 10px;
	}

	#lastname{
		width: 90%;
		margin: 30px 0px 0px 10px;
		float: none
	}

	#email{
		width: 90%;
		margin: 30px 0px 0px 10px;
	}

	#subject{
		width: 90%;
		margin: 30px 0px 0px 10px;
	}


	#msg{
		width: 90%;
		margin: 40px 0px 0px 10px;
		resize:none;
	}


	/*-------------------TEAM Query----------*/

	.team{
		min-height: 300px;
		max-width: 800px;
		background: #fff;
		border-bottom:1px solid #ddd;
		margin: 40px auto;
	}

	.dp{
		margin: -150px auto 0px auto;
	}

	.team>h3{
		font-size: 2.5em;
		text-align: center;
		margin: 0px;
	}

	.team>h4{
		font-size: 1.2em;
		text-align: center;
		margin: auto;
	}

	.team>p{
		font-size: 1em;
		margin: 30px 20px 30px 20px;
	}
	.social{margin: auto;}

}