body{
	margin: 0px;
	background: #fff;
}
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Romanesco|Rubik+One|Indie+Flower);



/*----------Classes---------*/
.purple{color: #6a264e}
.orange{color: #ed9313}
.blue{color: #22788b}
.red{color:#b30027;}
.flr{float: right;}
.fll{float: left;}
.alr{text-align: right;}
.all{text-align: left;}
.alc{text-align: center;}
.trans{	transition: background .3s; -webkit-transition: background .3s;}
.dib{display: inline-block;}
.mra{margin: auto;}

/*---------fonts & colors -------------*/

/*
font-family: 'Droid Sans Mono', ;
font-family: 'Romanesco', cursive;
font-family: 'Rubik One', sans-serif;
font-family: 'Indie Flower', cursive;
*/

/*--------intro------------*/
#logo{
	height: 60px;
	width: 60px;
	margin:40px auto 20px auto;
	background: url('../images/logo.svg') no-repeat center;
	background-size: 60px;
}

#logo:hover{
	background: url('../images/logoh.svg') no-repeat center;
	background-size: 60px;
}

#intro{
	height:100%;
}


#intro>h1{
	font-family: Rubik One;
	font-size: 80px;
	text-align: center;
	padding-top: 5%;
	color: #b30027;
}

#intro>p{
	font-family: Indie Flower;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-top: -50px;
	color: #333;
}
b{
	color:#000
}
a{text-decoration: none;}

.button{
	font-family: rubik one;
	height:20px;
	width: 150px;
	margin:10px auto;
	text-align: center;
	padding:12px 10px;
	color: #000;
	border: 2px solid #000;
}

.button:hover{
	background: #b30027;
	color:#fff;
	border: 2px solid #910005;
}


#down{
	border-top: 1px solid #ddd;
	height: 40px;
	width: 100%;
	background:url('../images/down2.png') no-repeat center #fff;
	background-size: 30px;
	margin-top: -40px;
	transition: background .3s;
	-webkit-transition: background .3s;
}


#down:hover{
	background:url('../images/down.png') no-repeat center #b30027;
	background-size: 30px;
}


/*---------Header----------*/
#header{
	width: 100%;
	min-height: 90px;
	background: #b30027;
}

#menu{
	list-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin-left: -40px;
}

#menu>a>li{
	padding: 20px 20px;
	display: inline-block;
	margin-top:-16px; 
}

#menu>a{
	font-family: Droid Sans Mono;
	color: #fff;
	text-decoration: none;
}

#menu>a>li:hover{
	background: #c41138
}

/*-------------------cont-----------------*/
#cont{
	width: 100%;
	display: inline-block;
}

.div{
	min-height: 300px;
	width: 100%;
	border-bottom: 2px solid #ccc;
}

.div>h2{
	font-family: Indie Flower;
	font-size: 30px;
	color:#111;
	text-align: center;
	font-weight: bolder;
}

.div>p{
	font-family: droid sans mono;
	font-size: 18px;
	color:#333;
	text-align: center;
	max-width: 700px;
	margin: auto;
	padding: 10px;
}
p>img{
	height: 150px;
	width: 150px;
	background: #333;
	margin: -1px -4px;
	border: 2px solid #ddd
}

.photo-grid {
	min-width: 100px;
	margin:0px auto 0px -125px;
	text-align: center;
}
 
.photo-grid li {
	height: 150px;
	display: inline-block;
	width: 150px;
	margin: 5px;
}
 
.photo-grid img {
	display: block;
	height: auto;
}
 
.photo-grid figure {
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 150px;
}
 
.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
}
 
.photo-grid figcaption p {
	font-family: droid sana mono;
	font-size: 20px;
	top: -40px;
	width: 150px;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	-webkit-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}
 
.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	font-size: 20px;
	font-family: droid sans mono;
	width: 150px;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
 
.photo-grid li:hover figcaption p {
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}
/*----------Media Queries-------------*/

@media screen and (max-width: 400px){
	#intro>h1{
		font-size: 70px;
	}

	#intro>p{
		font-size: 20px;
	}