body{
	margin: 0px;
	background: #fff;
}
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Romanesco|Rubik+One|Indie+Flower);

.red{color:#b30027;}
.activet{background: #c41138}
.activeb{background: #b40027}
/*
font-family: 'Droid Sans Mono', ;
font-family: 'Romanesco', cursive;
font-family: 'Rubik One', sans-serif;
font-family: 'Indie Flower', cursive;
*/

#preload {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}
/*--------intro------------*/
#intro{
	width: 100%;
	height:100%;
	background:url('../images/me.jpg') no-repeat  center bottom #b30027;
	background-size: 400px;
	color: #fff;
}


#intro>h1{
	font-family: Indie Flower;
	font-size: 80px;
	text-align: center;
	padding-top: 5%;
}

#intro>p{
	font-family: Indie Flower;
	font-size: 25px;
	text-align: center;
	margin-top: -60px;
}

#down{
	height: 40px;
	width: 100%;
	background:url('../images/down.png') no-repeat center #b30027;
	background-size: 30px;
	margin-top: -40px;
	transition: background .3s;
	-webkit-transition: background .3s;
}


#down:hover{
	background:url('../images/down2.png') no-repeat center #ddd;
	background-size: 30px;
}


/*---------Header----------*/
#header{
	width: 100%;
	min-height: 10px;
	background: #b30027;
}

#menu{
	list-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	padding:20px 0px 0px 0px;  
}

#menu>a>li{
	padding: 16px 20px;
	display: inline-block;
	margin-top:-16px; 
}

#menu>a{
	font-family: Droid Sans Mono;
	color: #fff;
	text-decoration: none;
}

#menu>a>li:hover{
	background: #c41138
}


/*--------Cont-------*/

#cont{
	min-height: 500px;
	padding-top: 20px;
	background: #fff;
}

.cont>h2{
	text-align: center;
	color:#b30027;
	font-family: Indie Flower;
	font-size: 30px;
}


.cont>p{
	margin:10px auto;
	max-width: 600px;
	padding: 0px 10px;
	text-align: center;
	color: #555;
	font-size: 16px;
	font-family: Droid Sans Mono;
}

#button{
	padding-top: 7px;
	margin:30px auto 80px auto;
	height: 30px;
	width: 150px;
	border: 2px solid #b30027;
}
#button:hover{
	background: #b30027;
	color: #fff;
}
#about>a{
	margin-top: 10px;
	text-align: center;
	font-family: Droid Sans Mono;
	color: #b30027;
	text-decoration: none;
	font-weight: bold;
}

#pics>img{
	height: 150px;
	width: 150px;
}

#pics{
	text-align: center;
	max-width:1000px;
	margin:auto;
}

#work{max-width: 734px;margin: auto;}

.project{
	height:250px;
	width: 180px;
	background: url('../images/project.jpg') no-repeat center center;
	margin: 40px 30px;
	display: inline-block;
	overflow: hidden;
}

.work1{
	background: url('../images/wall.jpg') no-repeat center center;
	background-size:180px auto;
}

.work2{
	background: url('../images/post.jpg') no-repeat center center;
	background-size:auto 250px;
}

.work3{
	background: url('../images/misc.jpg') no-repeat center center;
	background-size:auto 250px;
}

.up{
	min-height: 300px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	color:#fff;
	background:#b40027;
	position: relative;
	top:207px;
	transition:color, top .3s;
	-webkit-transition:color, top .3s;
}


.up:hover{
	top: 60px;
	overflow:visible;
	background:#fff;
	color: #b40027
}

.up>h3{
	font-size: 25px;
	font-family: Indie Flower;
	margin-top: 5px;
	border-bottom: 2px solid #b40027;
}

.up>p{
	text-align: center;
	font-size: 12px;
	font-family: Droid Sans Mono;
	padding:5px;
	margin-top: -20px
}

.up>p>a{
	font-size: 15px;
	font-family: Droid Sans Mono;
	color: #000;
	font-weight: bolder;
}

.up>p>a:hover{
	color:#c41138;
}

/*--------Footer--------*/

#footer{
	width:100%;
	height: 170px;
	background:#b30027;
}

#footer>p{
	text-align: center;
	font-size: 20px;
	font-family: Droid Sans Mono;
	color:#fff;
	padding-top: 10px;
}

#infoot{
	height: 100px;
	width: 100%;
	margin-top: 80px;
	background: #222
}


#bmenu{
	text-align: center;
	text-transform: uppercase;
	margin-left: -40px;
	padding:-20px 0px 0px 0px;  
}

#bmenu>a>li{
	padding: 10px 20px;
	display: inline-block;
}

#bmenu>a{
	font-family: Droid Sans Mono;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

#bmenu>a>li:hover{
	background: #b30027
}


#social{
	height:50px;
	max-width: 374px;
	margin: auto;
}
.social{
	height:50px;
	width: 50px;
	display: inline-block;
	margin: 0px auto;
}
#fb{background: url('../images/social/fb.png') no-repeat center ; background-size: 50px;}
#tw{background: url('../images/social/tw.png') no-repeat center ; background-size: 50px;}
#in{background: url('../images/social/in.png') no-repeat center ; background-size: 50px;}
#insta{background: url('../images/social/insta.png') no-repeat center ; background-size: 50px;}
#gp{background: url('../images/social/gp.png') no-repeat center ; background-size: 50px;}
#pi{background: url('../images/social/pi.png') no-repeat center ; background-size: 50px;}
#yt{background: url('../images/social/yt.png') no-repeat center ; background-size: 50px;}
#fb:hover{background: url('../images/social/fbh.png') no-repeat center; background-size: 50px;}
#tw:hover{background: url('../images/social/twh.png') no-repeat center; background-size: 50px;}
#in:hover{background: url('../images/social/inh.png') no-repeat center; background-size: 50px;}
#insta:hover{background: url('../images/social/instah.png') no-repeat center; background-size: 50px;}
#gp:hover{background: url('../images/social/gph.png') no-repeat center; background-size: 50px;}
#pi:hover{background: url('../images/social/pih.png') no-repeat center; background-size: 50px;}
#yt:hover{background: url('../images/social/yth.png') no-repeat center; background-size: 50px;}

/*------Medai Screen --------*/

@media screen and (max-width: 450px) {
	#intro{background-size: 300px;}
	#intro>h1{font-size: 60px;}
	#intro>p{
		font-size: 20px;
		margin-top:-50px; 
	}
	#menu>a>li{padding: 16px 5px;}
	#footer>p{font-size: 15px;}
	#bmenu>a>li{padding: 10px 8px;}
	.social{
		height:30px;
		width: 30px;
		margin: 10px 5px;
	}
	#social{max-width: 304px;}
	